<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new Chat</title>
    <link rel="stylesheet" href="/styles_new.css">
</head>
<body>
    <h3>Write new Chat ..</h3>
    <form method="post" action="/chats">
        <input type="text" placeholder="Who Are You?" name="from">
        <textarea name="msg">Write Your Message Here ..</textarea>
        <input type="text" placeholder="add Receiver" name="to">
        <button>Create Chat</button>
    </form>
</body>
</html>
